<h1> THIS IS STUPID COACHING </h1>

 <p>Your question: <%= params[:question] %></p>
 <p>Coach's answer: <%= @answer %></p>

 <h2>Hello There</h2>
 <%= @answer %>
This is the just answer page wit yusuf and amazing nick team 